#nome::placeholder {
    color: aqua;
    background-color: darkolivegreen;
}

input:focus,
textarea:focus {
    outline: none;
    border: solid blue 2px;
}

input:checked {
    outline: solid purple 2px;
}

*::selection{
    background-color: purple;
    color: aliceblue;
}