body {
    background-color: dodgerblue;
    color: aliceblue;
    text-align: center;
}
main {
    display: block;
    margin: 0 10%;
}
video {
    width: 600px;
    height: 350px;
}
button {
    background-color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 10%;
}
a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
a:hover{
    transition: .3s;
    color: blueviolet;
    text-transform: capitalize;
}